 <!-- Gitalk comment start  -->

 <!-- Link Gitalk  -->
 <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
 <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
 <div id="gitalk-container"></div>     <script type="text/javascript">
     var gitalk = new Gitalk({

     // Gitalk parameters
         clientID: '420bd31d856cee893506', //customize
         clientSecret: '508f86d121fc451e27f7b0145db170c015492b7d', //customize
         repo: 'xujiazhe.github.io', //customize
         owner: 'xujiazhe', //customize
         admin: ['xujiazhe'], //customize
         id: window.location.pathname, // leave this line as it is

     });
     gitalk.render('gitalk-container');
 </script>
 <!-- Gitalk end -->
