/* Links */

a:hover{
	text-decoration: none;
	color: #ea4e3c;
    transition: color .2s;
}

.post-link{
    display: inline-block;
}

/* Posts */
.post-title {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    @include onphone($on-laptop) {
        font-size: 25px;
    }
}

/* Social Links */
.social-media-list {
    > li{
        /* padding-left: 5px; */
        a[href*='.com']:before{
            vertical-align: -2.5px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url('./icons/all_icons.png') no-repeat;
            overflow: hidden;
            text-indent: -9999px;
            text-align: left;
            content: ' ';
            margin-right: 1px;
            //-webkit-filter: grayscale(100%);
            //filter: grayscale(100%);
        }

        a[href*='codeforces.com']:before {background-position: -4px -0px;  /*content: url('./icons/codeforces.png');*/ }
        a[href*='douban.com']:before { background-position: -24px -0px;  /*content: url('./icons/douban.png');*/ }
        a[href*='facebook.com']:before { background-position: -44px -0px;  /*content: url('./icons/facebook.png');*/ }
        a[href*='github.com']:before { background-position: -4px -20px;  /*content: url('./icons/github.png');*/ }
        a[href*='linkedin.com']:before { background-position: -24px -20px;  /*content: url('./icons/linkedin.png');*/ }
        a[href*='plus.google.com']:before { background-position: -44px -20px;  /*content: url('./icons/plus.google.png');*/ }
        a[href*='quora.com']:before { background-position: -4px -40px;  /*content: url('./icons/quora.png');*/ }
        a[href*='stackoverflow.com']:before { background-position: -24px -40px;  /*content: url('./icons/stackoverflow.png');*/ }
        a[href*='topcoder.com']:before {background-position: -44px -40px;  /*content: url('./icons/topcoder.png');*/ }
        a[href*='twitter.com']:before { background-position: -4px -60px;  /*content: url('./icons/twitter.png');*/ }
        a[href*='weibo.com']:before { background-position: -24px -60px;  /*content: url('./icons/weibo.png');*/ }
        a[href*='weixin.sogou.com']:before { background-position: -44px -60px;  /*content: url('./icons/wechat_QR_code.png');*/ }
        a[href*='zhihu.com']:before { background-position: -4px -80px;  /*content: url('./icons/zhihu.png');*/ }
    }
    &:after{
        content: ' ';
        clear: both;
    }
}

.home {
	display: flex !important;
	@extend %clearfix;

	.post-list {
		width: 500px;
		padding-left: 5px;
		padding-right: 5px;
	}

	@include onpc($on-laptop) {
		&.flex-row {
			flex-direction: row;
		}
	}
	@include onphone($on-laptop) {
		&.flex-column {
			flex-direction: column;

		}
		.post-list {
			//width: $on-laptop - 20;
			width: calc(100vw - 20px);
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.sidebar {
		//width: 200px;
		.rss-subscribe {
			text-align: center;
			padding-left: 30px;
			padding-top: 30px;
			color: darkgray;

			a {
				color: gray;
			}
		}

		.social_flag {
			display: block;
			color: lightgray;
			font-size: 20px;
			margin-top: 30px;
			padding-left: 40px;
		}

		.social-media-list {
			padding-left: 50px;
			margin-top: 40px;
			display: block;
			//> li { /*width: 33%;*/}

			@include onpc($on-laptop) {
				> li {
					//margin-bottom: 10px;
					//float: left;
					//width: 100px;
					//padding-left: 20px;
					margin-bottom: 10px;
				}
			}
			@include onphone($on-laptop) {
				> li {
					width: 33%;
					float: left;
					min-width: 120px;
					padding-left: 20px;
					margin-bottom: 10px;
				}
			}
			@extend %clearfix;
			//right: calc(100% - (800px / 2));
		}
	}
}

.pagination {
	text-align: center;
	> em {
		margin-left: 5px;
		margin-right: 5px;
		border: 1px solid #b2b2b2;
		padding: 5px 9px;
		background: #ea4e3c;
		color: white;
	}
	> a {
		margin-left: 5px;
		margin-right: 5px;
		border: 1px solid #b2b2b2;
		padding: 5px 9px;
		&:hover {
			transition-property: color, background;
			background: #ea4e3c;
			transition-duration: .2s;
			color: white;
		}
	}
}


// calc(100% - (800px / 2))
.rss-subscribe {
    text-align: right;
}

/* Tags Page */

.tag-list{
    >a{
        font-size: 1.5em;
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bold;
    }

    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 8px;
}

.posts-tag {
    margin-left:5px;

    h2,h3 {
        margin-bottom: 2px;
    }

    >ul{
        li{
            h3{
                a:first-of-type{
                    margin-right:10px;
                    small{
                        font-style: italic;
                    }
                }
                .tag{
                    margin-left: 0.2em;
                    font-size: 0.8em;
                    vertical-align: middle;
                }
            }
        }
    }
}
